<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.ShopManufactorMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.ShopManufactor">
		<id column="id" property="id" />
		<result column="manufactor" property="manufactor" />
	</resultMap>
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT m.id AS id, m.manufactor AS manufactor FROM shop_manufactor m;
	</select>

</mapper>
