<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.ShopSharedBonusMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.ShopSharedBonus">
		<id column="id" property="id" />
		<result column="shared_id" property="sharedId" />
		<result column="order_id" property="orderId" />
		<result column="user_id" property="userId" />
		<result column="item_id" property="itemId" />
		<result column="create_date" property="createDate" />
		<result column="bonus" property="bonus" />
	</resultMap>
<!--榜单排名-->
	<!--榜单排名-->
	<select id="selectRank" resultMap="BaseResultMap">
		 select (@i:=@i+1) AS id ,T.bonus AS bonus ,T.userCode AS user_id  FROM
		(SELECT distinct user_id AS userCode,SUM(bonus) AS bonus
        from shop_shared_bonus
         WHERE
          unix_timestamp(date_format(create_date,'%Y-%m-%d %T'))&gt;=( unix_timestamp(#{startDate}))
		and  unix_timestamp(date_format(create_date,'%Y-%m-%d %T'))&lt;=(unix_timestamp(#{endDate}))
        GROUP BY user_id) T,(SELECT @i:=0) r
		ORDER BY T.bonus DESC
		limit #{page_no},10
	</select>
	<select id="getCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
        FROM
   ( SELECT distinct user_id
     FROM
     shop_shared_bonus
		 WHERE unix_timestamp(date_format(create_date,'%Y-%m-%d %T')) between unix_timestamp(#{startDate}) and unix_timestamp(#{endDate})
      ) T
	</select>

	<resultMap id="multiResultMap" type="com.baomidou.springwind.entity.po.PoShopSharedBonus">
		<id column="id" property="id" />
		<result column="shared_id" property="sharedId" />
		<result column="order_id" property="orderId" />
		<result column="user_id" property="userId" />
		<result column="item_id" property="itemId" />
		<result column="create_date" property="createDate" />
		<result column="bonus" property="bonus" />
		<association property="shopEvaluateShared" javaType="ShopEvaluateShared">
			<id column="id" property="id" />
			<result column="evaluate_id" property="evaluateId" />
			<result column="user_id" property="userId" />
			<result column="create_date" property="createDate" />
		</association>
		<association property="shopOrder" javaType="ShopOrder">
			<id column="id" property="id" />
			<result column="order_code" property="orderCode" />
			<result column="user_id" property="userId" />
			<result column="order_state" property="orderState" />
			<result property="expressCode" column="express_code" />
			<result column="order_total" property="orderTotal" />
		</association>
		<association property="shopUser" javaType="ShopUser">
			<id column="id" property="id" />
			<result column="nickname" property="nickname" />
			<result column="sex" property="sex" />
			<result column="head_image_addr" property="headImageAddr" />
			<result column="mobile_phone" property="mobilePhone" />
		</association>
		<association property="shopItem" javaType="ShopItem">
			<id column="id" property="id" />
			<result column="item_name" property="itemName" />
			<result column="item_icon_addr" property="itemIconAddr" />
			<result column="info_image_addrs" property="infoImageAddrs" />
		</association>
	</resultMap>

	<!--查询分享详情-->
	<select id="selectMultiShopSharedBonusList" resultMap="multiResultMap">
		SELECT ssb.id,ssb.bonus,ssb.create_date,ses.create_date,so.create_date,so.order_code,si.item_name,su.nickname
		FROM shop_shared_bonus ssb LEFT JOIN shop_evaluate_shared ses ON ssb.shared_id=ses.id AND ssb.user_id=ses.user_id
		LEFT JOIN shop_order so ON ssb.order_id=so.id
		LEFT JOIN shop_item si ON ssb.item_id=si.id
		LEFT JOIN shop_user su ON ssb.user_id=su.id
		<if test=" sharedId != null ">
			WHERE ssb.shared_id=#{sharedId}
		</if>
		ORDER BY ssb.create_date DESC
		<if test=" _index != null and _size != null">
			limit #{_index},#{_size}
		</if>
	</select>

</mapper>
