<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.ShopSearchHistoryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.ShopSearchHistory">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="search_keyword" property="searchKeyword" />
	</resultMap>
<!--获取用户最近的１０条记录-->
	<select id="getHistoryByUserId" resultType="java.lang.String">
		SELECT DISTINCT search_keyword FROM shop_search_history
		WHERE user_id=#{user_id}
        order by id desc
		limit #{limit}
	</select>
	<!--获取热搜词-->
	<select id="getHotSearch" resultType="java.lang.String">
	SELECT search_keyword
    FROM shop_search_history
    GROUP BY search_keyword
    ORDER BY count( * ) DESC
    LIMIT #{limit}
	</select>
</mapper>
